{% extends 'base.html.twig'%}
{% block title %}Acceuil{% endblock %}
{% block body %}

    {# <h1>Hello clem as tu compris ?</h1> #}
        <div class="authentication-theme auth-style_1">
            <div class="row">
                <div class="col-12 logo-section">
                <a href="#" class="logo">
                    {# <img src="../../../assets/images/logo.svg" alt="logo" /> #}
                    <img src="{{ asset("assets/images/logo.png")}}" alt="logo" />

                </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-7 col-sm-9 col-11 mx-auto">
                <div class="grid">
                    <div class="grid-body">
                    {# <h1 styl>GSB Note de frais</h1> #}
                    <div class="row">
                        <div class="col-lg-7 col-md-8 col-sm-9 col-12 mx-auto form-wrapper">
                                <a href="{{path("seConnecterVisiteur")}}" class="btn btn-primary btn-block"> ESPACE VISITEUR </a>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-7 col-md-8 col-sm-9 col-12 mx-auto form-wrapper">
                                <a href="#" class="btn btn-primary btn-block"> ESPACE COMPTABLE </a>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
{% endblock %}